@font-face {
  font-family: 'gothambook';
  src: url('gothambook-webfont.woff2') format('woff2'),
       url('gothambook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  .bannerSub {
    display: block;
    font-family: gothambook;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 120px;
    margin-bottom: 150px;
    z-index: 5;
    div {
      place-content: center;
      background-image: linear-gradient(to top, #008AAD, #0E2240);
      height: 365px;
      .subBannerContent {
        text-align: left;
        position: relative;
        margin-left: 0;
        line-height: 20px;
        img {
          position: relative;
          bottom: 100px;
          width: 600px;
          left: 50px;
        }
        svg {
          position: relative;
          bottom: 350px;
          left: 550px;
        }
        div {
          width: 50%;
          background-image:none ;
          h2 {
            color: white;
            font-size: 60px;
            font-weight: bold;
            position: relative;
            bottom: 350px;
            left: 550px;
          }
          p {
            color: white;
            font-weight: bold;
            font-size: 28px;
            position: relative;
            bottom: 350px;
            left: 550px;
          }
        }
        .buttonVerMais {
          border-radius: 45px;
          border: 3px solid white;
          background: none;
          color: white;
          width: 300px;
          padding: 15px;
          font-weight: bold;
          font-size: 24px;
          position: relative;
          bottom: 580px;
          left: 800px;
        }
        
      }
    }
  }
}
