@font-face {
	font-family: 'gothambook';
	src: url('gothambook-webfont.woff2') format('woff2'),
		 url('gothambook-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  
  }
.sec04 {
  font-family: gothambook;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  margin-top: 100px;
  h1 {
    margin-bottom: 67px;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #880364;
  }
  .cards {
    place-content: center;
    display: grid;
    grid-template-columns: 410px 410px 410px;
    grid-column-gap: 30px;
    .card {
      text-align: left;
      width: 410px;
      height: 400px;
      border-radius: 25px;
      background-image: linear-gradient(to top, rgba(0,0,0, 0.7), rgba(255,255,255,0.2));
      img {
        width: 410px;
        height: 400px;
        position: relative;
        z-index: -1;
      }
      p {
        font-size: 26px;
        font-weight: bold;
        color: white;
        position: relative;
        bottom: 150px;
        left: 10px;
      }
    }
  }
}

.fundo {
  position: absolute;
  top: 1520px;
  text-align: center;
  width: 100%;
  svg {
    width: 100%;
  }
}